@model IEnumerable<EventManagement.Models.Purohith>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    .container {
        position: relative;
        width: 50%;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
 
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurohithName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Charges)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurohithName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charges)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PurohithID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PurohithID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PurohithID })
            </td>
        </tr>
    }

</table>
<div class="container">

    <img src="~/Image/Screenshot (286).png" class="image" style="width:100%" />
</div>