@model EventManagement.Models.Decorator

@{
    ViewBag.Title = "GetDecorator";
}

<h2>GetDecorator</h2>

<div>
    <h4>Decorator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DecoratorsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecoratorsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charges)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DecoratorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
