<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
        #footer {
            display: block;
            padding: 50px 0 40px;
            color: #e2e2e2;
            font-size: 14px;
            line-height: 18px;
        } 
        .copyright {
    font-weight: normal;
    float: left;
}

.copyright .brand {
    position: relative;
    top: -2px;
    font-weight: 300;
    font-size: 18px;
}

.copyright div {
    padding-top: 6px;
}

.copyright div a:hover {
    color: #535a5f;
}

.socials {
    float: right;
    color: #fff;
    margin-top: -4px;
    overflow: hidden;
}

.socials .fa {
    background-color: #ddd;
    font-size: 25px;
    float: left;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 500px;
    text-align: center;
}

.socials .fa:hover {
    color: #fff;
    background-color: #303030;
}

.socials .fa +.fa {
    margin-left: 16px;
}

.socials .fa.fa-pinterest {
    font-size: 30px;
}
 
        </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Evenement", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Index", "Index", "Home")</li>*@
                    <li class="dropdown">
                        
                        <ul class="dropdown-menu" role="menu">
                            <li>Action 1</li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("reservation", "RegistrationPage", "RegistrationPage")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                </ul>
            </div>
        </div>
        
    </div>
       
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <div class="socials">
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                            <a href="#" class="fa fa-pinterest"></a>
                        </div>
                        <div class="copyright">
                            <span class="brand">Evenement </span> &copy; <span id="copyright-year"></span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>